<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app  >
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Se</servlet-name>
  	<display-name>Se</display-name>
  	<description></description>
  	<servlet-class>com.tcsion.FrontEnd.Se</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Login_se</servlet-name>
  	<display-name>Login_se</display-name>
  	<description></description>
  	<servlet-class>com.tcsion.FrontEnd.Login_se</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Se1</servlet-name>
  	<display-name>Se1</display-name>
  	<description></description>
  	<servlet-class>com.tcsion.FrontEnd.Se1</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ser_po</servlet-name>
  	<display-name>ser_po</display-name>
  	<description></description>
  	<servlet-class>com.tcsion.FrontEnd.ser_po</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Se_change</servlet-name>
  	<display-name>Se_change</display-name>
  	<description></description>
  	<servlet-class>com.tcsion.FrontEnd.Se_change</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Se_del</servlet-name>
  	<display-name>Se_del</display-name>
  	<description></description>
  	<servlet-class>com.tcsion.FrontEnd.Se_del</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>se_use</servlet-name>
  	<display-name>se_use</display-name>
  	<description></description>
  	<servlet-class>com.tcsion.FrontEnd.se_use</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Se_reset</servlet-name>
  	<display-name>Se_reset</display-name>
  	<description></description>
  	<servlet-class>com.tcsion.FrontEnd.Se_reset</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Se_ureset</servlet-name>
  	<display-name>Se_ureset</display-name>
  	<description></description>
  	<servlet-class>com.tcsion.FrontEnd.Se_ureset</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ser_con</servlet-name>
  	<display-name>ser_con</display-name>
  	<description></description>
  	<servlet-class>com.tcsion.FrontEnd.ser_con</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Myser</servlet-name>
  	<display-name>Myser</display-name>
  	<description></description>
  	<servlet-class>com.tcsion.FrontEnd.Myser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Myser1</servlet-name>
  	<display-name>Myser1</display-name>
  	<description></description>
  	<servlet-class>com.tcsion.FrontEnd.Myser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>placeo</servlet-name>
  	<display-name>placeo</display-name>
  	<description></description>
  	<servlet-class>com.tcsion.FrontEnd.placeo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Se_feedback</servlet-name>
  	<display-name>Se_feedback</display-name>
  	<description></description>
  	<servlet-class>com.tcsion.FrontEnd.Se_feedback</servlet-class>
  </servlet>
  


  <servlet-mapping>
  	<servlet-name>Se</servlet-name>
  	<url-pattern>/Se</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Login_se</servlet-name>
  	<url-pattern>/Login_se</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Se1</servlet-name>
  	<url-pattern>/Se1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ser_po</servlet-name>
  	<url-pattern>/ser_po</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Se_change</servlet-name>
  	<url-pattern>/Se_change</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Se_del</servlet-name>
  	<url-pattern>/Se_del</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>se_use</servlet-name>
  	<url-pattern>/se_use</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Se_reset</servlet-name>
  	<url-pattern>/Se_reset</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Se_ureset</servlet-name>
  	<url-pattern>/Se_ureset</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ser_con</servlet-name>
  	<url-pattern>/ser_con</url-pattern>
 </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Myser</servlet-name>
  	<url-pattern>/Myser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Myser1</servlet-name>
  	<url-pattern>/Myser1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>placeo</servlet-name>
  	<url-pattern>/placeo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Se_feedback</servlet-name>
  	<url-pattern>/Se_feedback</url-pattern>
  </servlet-mapping>
 


<welcome-file-list>   
<welcome-file>index.html</welcome-file>  
<welcome-file>default.html</welcome-file> 
 </welcome-file-list>
</web-app>